a:active {
  outline: none;
}
:focus {
  -moz-outline-style: none;
}
:-moz-any-link:focus {
  outline: none;
}

html {  
  background: #222;
  background: -webkit-linear-gradient(#333 0%, #111 100%) fixed;
  background: -moz-linear-gradient(#333 0%, #111 100%) fixed;
  background: linear-gradient(#333 0%, #111 100%) fixed;
  height: 100%;
  overflow-y: auto;
}
body {
  background: transparent;
  /* height: 100%; */
}

#main {
	margin-top: 40px;
	padding-top: 15px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* inactive: .sidebar.right {} */

#main {
  padding-top: 0;
}

#main.container-fluid {
  margin-top: 40px;
  padding: 0;
}

.topbar .container-fluid {
  margin: 0 auto;
  max-width: 940px;
  min-width: 670px;
  padding: 0;
}
  .topbar h3 a,
  .topbar h3 a:link,
  .topbar h3 a:hover,
  .topbar h3 a:active,
  .topbar h3 a:focus {
    background: #030;
    background: -webkit-linear-gradient(#150 0%, #030 100%);
    background: -moz-linear-gradient(#150 0%, #030 100%);
    background: linear-gradient(#150 0%, #030 100%);
    border: 2px solid #bb8;
    border-color: #bb8 #aa7 #776;
    border-radius: 5px;
    color: #ED3;
    font-size: 18px;
    font-weight: bold;
    margin: 6px 10px 0 4px;
    padding: 2px 0 4px 2px;
    text-align: center;
    width: 69px;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    
    -webkit-transition: .3s linear all;
  	   -moz-transition: .3s linear all;
  	        transition: .3s linear all;
  	
  	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  }
    .topbar h3 a:hover {
      /*
      -webkit-transform: rotate(-2deg);
      -moz-transform: rotate(-2deg);
      */
  
      -webkit-transition: .2s linear all;
    	   -moz-transition: .2s linear all;
    	        transition: .2s linear all;
    	
      -webkit-box-shadow: 0 1px 5px rgba(100, 100, 50, 0.7),
                          0 0 2px rgba(200, 200, 150, .2) inset;
      -moz-box-shadow:    0 1px 5px rgba(100, 100, 50, 0.7),
                          0 0 2px rgba(200, 200, 150, .2) inset;
      box-shadow:         0 1px 5px rgba(100, 100, 50, 0.7), 
                          0 0 2px rgba(200, 200, 150, .2) inset;
    }
    
    .topbar h3 a sup {
      font-size: 10px;
      font-weight: bold;
    }
  
  .topbar .vr {
    border-left: 1px solid #040404;
    border-right: 1px solid #2F2F2F;
    display: inline-block;
    height: 26px;
    margin: 6px 3px 1px 3px;
  }
  .topbar .secondary-nav a.btn {
    background: #150;
    background: -webkit-linear-gradient(#261 0%, #150 100%);
    background: -moz-linear-gradient(#261 0%, #150 100%);
    background: linear-gradient(#261 0%, #150 100%);
    color: #fe5;
    margin: 6px 10px 0;
    padding: 3px 10px;
    text-shadow:  0 -1px 0 rgba(0, 0, 0, .5),
                  0  1px 0 rgba(255, 255, 255, .3);
  }
  .topbar ul li a.btn:hover,
  .topbar ul li a.btn:focus,
  .topbar ul li a.btn:active {
    background-color: #261;
    background-repeat: repeat-x;
    background: -webkit-linear-gradient(#372 0%, #261 100%);
    background: -moz-linear-gradient(#372 0%, #261 100%);
    background: linear-gradient(#372 0%, #261 100%);
    color: #fff677;
  }
  .topbar .secondary-nav .twipsy {
    display: none;
    left: -97px;
    top: 3px;
  }
    .topbar .secondary-nav .twipsy .twipsy-inner {
      font-size: 13px;
      padding: 6px 10px;
    }
  
  /* ff fix */
  .dropdown .dropdown-toggle {
    height: 30px;
    line-height: 1;
    padding-bottom: 0;
  }
  .dropdown .dropdown-toggle .screen-name {
    line-height: 19px;
  }
  
  .dropdown .dropdown-toggle .dropdown-active {
    background: rgba(255, 255, 255, 0.05);
  }
  
  
    /*#session {
      display: inline-block;
      padding: 10px 12px;
      height: 20px;
      vertical-align: top;
      cursor: pointer;
      white-space: nowrap;
      _width: 0;
    }*/
    #session .profile_img {
      border: none;
      cursor: pointer;
      display: inline-block;
      height: 20px;
      margin-right: 6px;
      vertical-align: top;
      width: 20px;
    }
    #session .screen-name {
      color: #BABABA;
      cursor: pointer;
      display: inline-block;
      font-weight: normal;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  
div.container-fluid div.sidebar {
  background: #777;
  border-right: 1px solid #666;
  display: block;
  height: 100%;
  margin-top: -8px;
  padding-top: 8px;
  position: fixed;
  width: 91px;
}

.sidebar .btn.large {
  display: block;
  margin-bottom: -1px;
  text-align: center;
  border-radius: 0;
  position: relative;
  right: -1px;
}
.sidebar .btn.large.primary {

}

.sidebar ul {
  margin-bottom: 6px;
}

/* gif control */
#sandbox {
  margin: 0 auto;
  max-width: 940px;
  min-width: 650px;
  padding: 53px 10px 0;
  position: relative;
}
  #sandbox .content {
    position: relative;
  }
  #sandbox .gif-content {
    position: relative;
    max-width: none;
    margin-left: 0;
    /*
    vertical-align: middle;
    display: table-cell;
    padding-top: 95px;*/
  }
  .gif-current {
    display: block;
    padding: 0;
    
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.5);
    -moz-box-shadow: 0 5px 20px rgba(0,0,0,.5);
    box-shadow: 0 5px 20px rgba(0,0,0,.5);
  }
  .gif-info {
    background-color: #555;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#444444), to(#555555));
    background-image: -moz-linear-gradient(#444 0%, #555 100%);
    background-image: -ms-linear-gradient(#444 0%, #555 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444444), color-stop(100%, #555555));
    background-image: -webkit-linear-gradient(#444 0%, #555 100%);
    background-image: -o-linear-gradient(#444 0%, #555 100%);
    background-image: linear-gradient(#444 0%, #555 100%);
    border-color: #2c2c2c;
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 1px;
    top: 40px;
    display: block;
    padding: 8px 12px 7px 8px;
    position: fixed;
    right: 0;
    left: 0;
  }
  .gif-info li {
    color: #eee;
    float: left;
  }
    .gif-info li a.btn {
      margin-left: 6px;
      text-align: center;
    }
    .gif-info li a.btn.pair-left {
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
      
      border-right: none;
      margin-left: 0;
    }
    .gif-info li a.btn.pair-right {
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;

      border-left: 1px solid rgba(50,50,50,.5);
      margin-left: 0;
    }
    .gif-info li a.btn.primary.pair-right {

    }
    
  .gif-info .gif-uploader {
    margin: 5px 10px 0 14px;
  }
  .gif-info li.gif-uploader a {
    color: #8dF;
  }
  .gif-info ul.left {
    float: left;
  }
  .gif-info ul.right {
    float: right;
  }

  .gif-nav .btn.large {
    border-width: 0 1px 1px;
  }
    .gif-nav .btn.large.primary {
        border-width: 1px;
    }



/* profile page */

#profile .id {
  background: black;
  padding: 10px;
  display: inline-block;
  
  width: 92px;
  text-align: center;
  border-radius: 10px;
  margin-right: 30px;
  
  float: left;
}
  #profile .id img {
    width: 48px;
  }
  #profile .id p {
    font-size: 20px;
    font-weight: bold;
  }
  #profile .id .btn {
    margin-top: 10px;
  }
#profile .collection { float: left; }
#profile .collection h3 {
  color: #DDD;
  line-height: 1;
  margin-bottom: 25px;
}
#profile .collection li { float: left; }
#profile .collection li img.user-gif {
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.4);
  -moz-box-shadow: 0 3px 9px rgba(0,0,0,.4);
  box-shadow: 0 3px 9px rgba(0,0,0,.4);
  margin: 0 15px 15px 0;
  width: 150px;
}

/* modal */

.modal-wrapper {
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.modal {
  position: relative;
  top: 93px;
  left: 0;
  z-index: 2000;
  width: 560px;
  margin: 0 auto;
}
.modal form {
  margin: 0;
}

/* deprecated below */

ul.tweet-list {
	list-style: none;
}

.tweet {
	background: #fff;
	border-bottom: 1px solid #ebebeb;
	/*clear: both;*/
	color: #444;
	cursor: pointer;
	font-size: 15px;
	line-height: 15px;
	min-height: 60px;
	padding: 10px 20px;
	position: relative;
}
	.tweet:hover {
		background: #ffeae5;
		border-color: #ffcec3;
	}
		.tweet:hover .user a,
		.tweet:hover .user a:visited {
			color: #ff3300;
		}
		.tweet:hover .timestamp {
			color: #ff3300;
		}
	.tweet a,
	.tweet a:visited {
		color: #ff3300;
		text-decoration: none;
	}
	.tweet a:hover {
		text-decoration: underline;
	}
	.tweet img {
		float: left;
		height: 48px;
		margin-top: 3px;
		overflow: hidden;
		width: 48px;
	}
	.tweet .tweet-content {
		margin-left: 58px;
		min-height: 48px;
	}
	.tweet .user {
		color: #333;
		font-weight: bold;
	}
		.tweet .user a,
		.tweet .user a:visited {
			color: #444;
		}
	.tweet .text {
		line-height: 19px;
	}
	.tweet .timestamp,
	.tweet .timestamp a,
	.tweet .timestamp a:visited {
		color: #999;
		font-size: 11px;
		margin-top: 1px;
	}
		.tweet:hover .timestamp a,
		.tweet:hover .timestamp a:visited {
			color: #ff3300;
			text-decoration: none;
		}
		.tweet:hover .timestamp a:hover {
			color: #ff3300;
			text-decoration: underline;
		}
.tweet-selected,
.tweet-selected:hover {
	background: #ffcec3;
	border-color: #ddaea3;
}